/* colors used: Primary Color (Blue): #0458CB Secondary Color (Green): #489c79 */
/* Layout styling */
 *{
    box-sizing: border-box;
}
 header{
    position: fixed;
    display: block;
     box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
     background-color: #489c79;
     text-align: center;
     border-bottom: 3px solid #000000;
     width: 100%;
    z-index:5
}
 #logo {
    display: block;
     margin:auto;
}
 footer{
    text-align: center;
}
#Linkedin {
    padding-top: 10px;
    padding-right: 10px;
}
#Dribbble {
    padding-top: 10px;
    padding-right: 10px;
}
#Behance {
    padding-top: 10px;
    padding-right: 10px;
}
 nav {
    display: inline-block;
     width:auto;
     float: right;
}
 nav > ul{
    list-style-type: none;
     padding: 5px;
}
 nav > ul > li{
    display: inline-block;
}
 nav > ul > li > a{
    padding: 15px 15px 15px 15px;
     text-transform: uppercase;
     font-weight: 700;
     color:#4a4a4a;
}
 nav > ul > li > a:visited {
    color: #FFFFFF;
}
 nav > ul > li > a:hover {
    color: #000000;
}
 main {
    padding-top: 300px;
}
 body{
    margin: 0;
     background-color: lightgrey;
     font-family: 'Open Sans', sans-serif;
     font-size: 16px;
     font-weight: 300;
     line-height: 1.6;
     color: #000000
}
 h1, h2, h3, h4 {
    position: relative;
     margin:0 10px;
     line-height: 1.4;
}
 h1 {
    font-size: 2.75em;
     font-weight:700;
}
 h2 {
    font-size: 2.25em;
     font-weight:700;
}
 h3 {
    text-align: center;
    font-size: 1.75em;
     font-weight:400;
}
 h4 {
    font-size: 1.35em;
     font-weight:400;
}
 img {
    width: 100%;
}
 a {
    color: #0458CB;
     text-decoration: none;
     display: inline-block;
    width: auto;
}
 a:visited {
    color: #FFFFFF;
}
 a:hover {
    color: #000000;
     text-decoration: underline;
}
 a:focus {
    color: #0458CB;
     text-decoration: underline;
}
 a:active {
    color: #0458CB;
}
#Email {
  display: inline-block;
  font-family: inherit;
  background-color:#FFFFFF;
  color: #000000;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  transition: .2s;
}
.button {
   display: inline-block;
   font-family: inherit;
   background-color:#000000;
   color: #FFFFFF;
   font-weight: 400;
   padding: 10px;
   border-radius: 4px;
   transition: opacity .2s ease-in-out;
}
 .button:hover {
    cursor: pointer;
    opacity: .8;
    background-color: #0458CB
}
 .button.contact {
    background-color: transparent;
     color: #489c79;
     text-transform:uppercase;
     border: 2px solid #489c79
}
 .button.contact:hover {
    background-color: #489c79;
     color:#ffffff;
}
 .container {
    padding: 0 15px;
}
 #Hero {
    background-color: #ffe4c4;
     padding: 20px 0;
     display: inline-block;
     width: 100%;
}
 #Hero h2{
    text-align: center;
     margin: 0;
     padding: .67em 0;
}
 #work {
    margin: 0 10px;
     font-size: 1.1em;
     font-style: italic;
}
 #work.row{
    padding-bottom: 25px;
     border-bottom: 1px solid #4a4a4a;
}
 .row{
    margin: 25px;
}
 @media only screen and (min-width: 640px) {
    header{
        text-align: center;
         padding: 20px;
    }
     nav{
        width: auto;
         text-align: center;
        margin:auto;
    }
     main{
        padding-top: 400px
    }
     body{
        font-size: 18px
    }
     #hero{
        text-align: center;
    }
    #hero span{
        display: block;
    }
     .col-md-6{
        width:50%;
        padding: 5px;
    }
    [class*="col-"]{
        float: left;
        padding-top: 10px;
    }
     .col-md-6{
        width:50%;
        padding-right: 5px;
    }
    [class*="col-"]{
        float: right;
        padding-top: 10px;
        padding-left: 5px
    }
     .row::after{
        content: "";
        clear: both;
         display: table;
    }
     #work h3{
        text-align: center;
        padding-top: 10px;
    }
     @media only screen and (min-width: 1024px) {
          header{
             text-align: center;
              padding: 20px;
         }
          nav{
             width: auto;
              text-align: center;
             margin:auto;
         }
          main{
             padding-top: 400px
         }
          body{
             font-size: 18px
         }
          #hero{
             text-align: center;
         }
         #hero span{
             display: block;
         }
       [class*="col-lg"]{
           float: left;
           padding-top: 10px;
         }
        .col-lg-7{
             width:60%;
             padding: 5px;
         }
          .col-lg-7{
             width:60%;
             padding-right: 5px;
         }
         [class*="wordrow col-"]{
             float: right;
             padding-top: 10px;
          }
          .wordrow {
            width: 40%
          }
         }
          .row::after{
             content: "";
             clear: both;
              display: table;
         }
          #work h3{
             text-align: center;
             padding-top: 10px;

    }

     @keyframes color-change {
         from {
            fill: #edc655;
        }
         to {
            fill: #f76414;
        }
    }
     .sun{
        animation-duration: 4s;
         animation-name: color-change;
         animation-iteration-count: infinite;
         animation-direction: alternate;
         animation-timing-function: linear;
    }
     @keyframes cloud-move {
         from {
            transform: translate(0,50px);
        }
         to {
            transform: translate(200px, 50px)
        }
    }
     .cloud-front {
        animation-duration: 30s;
         animation-name: cloud-move;
         animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
     @keyframes cloud-move-reverse {
         from{
            transform: translate(446px, 48px);
        }
         to {
            transform: translate(100px, 48px)
        }
    }
     .cloud-back {
        animation-duration: 34s;
         animation-name: cloud-move-reverse;
         animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
    }
