/*
colors used:
Primary Color (Blue): #0458CB
Secondary Color (Green): #489c79
*/
/* Layout styling */
header{background-color: #489c79; padding: 10px; margin: 10px; border-bottom: 3px solid #000000}
nav{float: right;}
body{margin: 0 10px; background-color: lightgrey; font-family: 'Open Sans',
sans-serif; font-size: 16px; font-weight: 300; line-height: 1.6;
color: #FFFFFF}
h1, h2, h3, h4 {position: relative; margin:0 10px; line-height: 1.4;}
h1 {font-size: 2.75em; font-weight:700;}
h2 {font-size: 2.25em; font-weight:700;}
h3 {font-size: 1.75em; font-weight:400;}
h4 {font-size: 1.35em; font-weight:400;}
img {width: 100%;}
a {color: ##0458CB; text-decoration: none;}
a:visited {color: #FFFFFF;}
a:hover {color: #000000; text-decoration: underline;}
a:focus {color: ##0458CB; text-decoration: underline;}
a:active {color: ##0458CB;}
.button{display: inline-block; background-color:#489c79;color: #FFFFFF; font-weight: 400; padding: 10px; border-radius: 4px;
border-bottom: 2px solid ##0458CB;
transition: .2s opacity;}
.button: hover {opacity: .8; text-decoration: none;}
.button.contact {background-color: transparent; color: #489c79;
text-transform:uppercase; border: 2px solid #489c79}
.button.contact: hover {background-color: #489c79; color:#ffffff;}
#Hero {font-size:1.25em; text-transform: uppercase;}
#work {margin: 0 10px; font-size: 1.1em; font-style: italic;}
